<!-- footer.html -->
<footer class="footer">
    <div class="footer__content">
        <p class="footer__text">© 2024 Osamah Amer. All Rights Reserved.</p>
        <div class="footer__social">
            <a href="https://github.com/ProgrammingWithOsku/" target="_blank" class="footer__link">
                <img src="assets/icons/github.svg" alt="GitHub" class="footer__icon" /> GitHub
            </a>
            <a href="https://www.linkedin.com/in/osamah-amer-395a371b1/" target="_blank" class="footer__link">
                <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="footer__icon" /> LinkedIn
            </a>
            <a href="mailto:osku@osamah-dev.tech" class="footer__link">
                <img src="assets/icons/email.svg" alt="Email" class="footer__icon" /> Email
            </a>
        </div>
    </div>
</footer>
